ansible==2.10.7
ansible-lint==5.4.0
requests==2.23.0
Jinja2
flake8
yamllint
jmespath
docker
molecule
molecule-docker
molecule[delegated]==3.6.1
molecule[ansible-lint]
molecule[docker]
pytest
pytest-testinfra
